/* body */

body {
  background-color: rgb(129, 129, 247);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

/* todobox */

.todobox {
  margin: 20px;
  background-color: whitesmoke;
  width: clamp(200px, 100%, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.todoinput {
  width: 100%;
  margin-top: 20px;
}

.todoinput form {
  margin-inline: auto;
  padding: 0 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

/* todoinput */

.todoinput form .textinput {
  height: 50px;
  width: 100%;
  padding: 0 10px;
  font-size: clamp(10px, 4vw, 20px);
  border-radius: 7px;
  border: none;
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0.664);
  font-weight: bold;
  color: gray;
}
.todoinput form .textinput::placeholder {
  opacity: 0.5;
  font-size: clamp(12px, 3vw, 18px);
}

.todoinput form .buttoninput {
  padding: clamp(5px, 3vw, 15px);
  font-size: clamp(10px, 3vw, 15px);
  cursor: pointer;
  margin-left: 10px;
  color: white;
  background-color: rgb(129, 129, 247);
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.3s;
}

.buttoninput:hover {
  background-color: transparent !important;
  color: rgb(129, 129, 247) !important;
  border: 2px solid rgb(129, 129, 247) !important;
}

/* middle area */

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: clamp(20px, 4vw, 30px);
  color: gray;
  user-select: none;
}

.middle button {
  cursor: pointer;
  padding: clamp(5px, 3vw, 15px);
  background-color: transparent;
  color: rgb(129, 129, 247);
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid rgb(129, 129, 247);
  outline: none;
  font-weight: bold;
  font-size: clamp(10px, 3vw, 15px);
  transition: all 0.3s;
}

.middle button:hover {
  background-color: rgb(129, 129, 247) !important;
  color: white !important;
  border: 2px solid transparent;
}

h1 span {
  color: rgb(129, 129, 247);
  font-size: clamp(25px, 4vw, 40px);
  margin-left: 5px;
}

/* todotaskbox */

.todotaskbox {
  width: 100%;
}
.todotaskbox ul {
  margin-inline: 20px;
}

.todotaskbox ul li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(129, 129, 247);
  margin-block: 10px;
  user-select: none;
}

.todotaskbox ul li .listText {
  color: white;
  font-weight: bold;
  font-size: clamp(10px, 4vw, 20px);
  width: 80%;
  min-width: 2%;
  overflow-wrap: break-word;
}

.todotaskbox ul li i {
  color: white;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  flex-shrink: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 5px;
}

/* edit- --------------------------------------------------------- */

.editArea {
  background-color: rgba(0, 0, 0, 0.459);
  height: 100vh;
  width: 100%;
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.editBox {
  width: 700px;
  height: 300px;
  background-color: rgb(129, 129, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  border-radius: 20px;
  border: 2px solid white;
  margin-inline: 20px;
}
#editInput {
  height: clamp(40px, 4vw, 60px);
  width: 100%;
  font-size: clamp(10px, 3vw, 20px);
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
#editButton {
  font-size: clamp(40px, 4vw, 60px);
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

#editInput::placeholder {
  color: rgba(255, 255, 255, 0.514);
}

@media only screen and (max-width: 450px) {
  .todobox {
    padding: 0px;
  }
}
